html, body {
    font-size: 14px;
    position: relative;
    height: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    border: solid 1px black;
    background-color: bisque;
    height: auto;
    margin: 10px;
    color: rgb(42, 42, 141);
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 12pt;
    position: relative;
    width: 240px;
}

.card div {
    margin: 10px;
}

.hidden {
    display: none;
}

div.image {
    margin: 10px 20px;
    width: 200px;
    height: 200px;
}


.image img {
    width: 200px;
    border-radius: 50%;
}

span {
    color: rgb(78, 11, 109);
    text-align: center;
    display: inline-block;
    width: 100px;
}

.delete {
    color: black;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
